<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>Zarządzanie użytkownikami oraz grupami w systemach Unix</title>
<link href="css/script.min.css" rel="stylesheet"/>
<link href="css/highlight/atelier-heath.light.css" rel="stylesheet">
</head>
<body>
<%=content%>
</body>
</html>